@font-face {
font-family: 'SF UI Display Ultralight';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Ultralight'), url('../assets/fonts/sf-ui-display-semibold-58646eddcae92.woff') format('woff');
}

@font-face {
font-family: 'SF UI Display Thin';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Thin'), url('../assets/fonts/sf-ui-display-thin-58646e9b26e8b.woff') format('woff');
}
    
    
@font-face {
font-family: 'SF UI Display Light';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Light'), url('../assets/fonts/sf-ui-display-light-58646b33e0551.woff') format('woff');
}


@font-face {
font-family: 'SF UI Display Medium';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Medium'), url('../assets/fonts/sf-ui-display-medium-58646be638f96.woff') format('woff');
}


@font-face {
font-family: 'SF UI Display Semibold';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Semibold'), url('../assets/fonts/sf-ui-display-semibold-58646eddcae92.woff') format('woff');
}


@font-face {
font-family: 'SF UI Display Bold';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Bold'), url('../assets/fonts/sf-ui-display-bold-58646a511e3d9.woff') format('woff');
}


@font-face {
font-family: 'SF UI Display Heavy';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Heavy'), url('../assets/fonts/sf-ui-display-heavy-586470160b9e5.woff') format('woff');
}


@font-face {
font-family: 'SF UI Display Black';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Black'), url('../assets/fonts/sf-ui-display-black-58646a6b80d5a.woff') format('woff');
}


$white: #ffffff;
$whiteBGOpacity:#ffffffd9;
$blackFont:#424242;
$blue:#009fe4;
$Ultralight:'SF UI Display Ultralight';
$Thin:'SF UI Display Thin';
$Light:'SF UI Display Light';
$Medium:'SF UI Display Medium';
$Semibold:'SF UI Display Semibold';
$Bold:'SF UI Display Bold';
$Heavy:'SF UI Display Heavy';
$Black:'SF UI Display Black';


html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box ;
    overflow-x: hidden;
}
p, a, h1, h2, h3, h4, h5, h6, li{
    letter-spacing: 1px;
}

textarea{
    resize: none;
}
main{
    width: 100%;
}


.arrow-down{
    width: min-content;
    margin: 20px auto;
    
    
    img{
        background-color: #c4c4c4;
        border-radius: 50%;
        padding: 8px;
        margin: auto;
    }
}
@media screen and (min-width:300px){ 

// -------------------------------------------
//-------ESTILOS CONSTANTES ------------------
// -------------------------------------------
    .black-title, .white-title{
        font-family: $Bold;
        font-size: 30px;
        line-height: 30px;
        text-transform: uppercase;
        color:$blackFont;
    }

    .sub-t1, .sub-t1-white{
        font-family: $Medium;
        font-style: normal;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: $blackFont;
    }
    .sub-t2, .sub-t2-white{
        font-family: $Thin;
        font-size: 20px;
        line-height: 24px;
        color: $blackFont;
    }
    .t-subrayado, .t-subrayado-white{
        font-family: $Bold;
        font-size: 20px;
        width: min-content;
        text-transform: uppercase;
        line-height: 24px;
        color: $blackFont;
        border-bottom: 4px solid $blue ;
    }

    .sub-indice, .sub-indice-white{
        font-family: $Medium;
        font-size: 20px;
        line-height: 24px;
        color: $blackFont;

    } 
    .sub-indice-white, .white-title, .t-subrayado-white, .sub-t1-white, .sub-t2-white{
        color: #ffffff;
    }

   .sp, .down-guia{
       cursor: pointer;
   } 

// -------------------- BARRA DE NAVEGACIÓN----------------------------- 
 

    .nav-bar{
        position: fixed;
        z-index: 999;
        left: 0;
        top:0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $white;
        width: 100vw;
        height: 57px;

        .logo{
            width: 110px;
            height: 52px;
            margin-left: 12px;
        }
        .nav-items{
            position: fixed;
            z-index: 99;
            display: flex;
            flex-direction: column;
            align-items: center;
            width:100%;
            height: 80vh;
            background-color:$white;

            .nav-item{
                font-family: $Ultralight;
                font-size: 1.2rem;
                font-weight: 500;
                margin: 10px 0;
                text-decoration: none;
                color:$blue;

            }

            .tel-lang{
                position: absolute;
                display: flex;
                flex-direction: column;
                bottom: 0;
                margin-top:1rem ;
                .tel{
                    font-family: 'SF UI Display Ultralight';
                    font-size: 1.2rem;
                    font-weight: 500;
                    text-align: center;
                    margin-bottom: 1rem;
                }
                .idiomas{
                    display: flex;
                    justify-content: space-around;
                    margin: 0;
                    .lang{
                        font-family: 'SF UI Display Ultralight';
                        font-size: 1.2rem;
                        font-weight: 500;
                        margin: 0 0.5rem;
                        color:$blue;
                    }           
                }
            }
            
            .active{
                color: $blackFont;
                border-top:2px solid $blackFont;
            }
        }

        .nav-in{
            right: 0;
            top: 57px;
            transition-property: top;
            transition-duration: 0.5s;
        }

        .nav-out{
            right: 0;
            top: -100vh;
            transition-property: top;
            transition-duration: 0.5s;
        }

        
    }

    .btn-burger{
        position: absolute;
        right: 30px;
 
        .burger-container{
            margin: 0;
            .burger-div{
                margin: 5px 32px 5px 0;
                width: 35px;
                height: 5px;
                background-color: $blue;
                
            }

            .no{
                display: none;
            }

            .cross-1, .cross-2{
                position: absolute;
                right: 30px;     
                width: 40px;
                height: 5px;
                background-color: $blue;
            }

            .cross-2{
                transform: rotatez(45deg);
            }
            .cross-1{
                transform: rotateZ(-45deg);
            }
        }
    }

    

// -------------------- HEADER -------------------------------
    .section-0, .emergente{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 58px;
        height: auto;
        width: 100vw;
        background-image: url('../assets/img/img-header.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 2rem 0;

        .box{
            width: 75%;
            transform: skewX(-5deg);
            padding: 1rem;
            margin: 2rem 0;
            .s-box{
                width: 100%;
                transform: skewX(5deg);
                padding: 0 1rem ;
            }
        }

        .box-1{
            background-color: $whiteBGOpacity;

            .calidad{
                display: flex;
                justify-content: space-evenly;

                .calidad-img{
                    width: 120px;
                }
            }
        }

        .box-2{
            background-color: $blue;

            .s-box{
                .text-1{
                    font-family: $Bold;
                    font-size: 30px;
                    color:$white;
                    line-height: 28px;
                    text-align: center;
                }
            // --------FORMULARIO -----------
                .grid-form{
                    display: grid;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: 40px 40px 50px 45px;
                    gap: 0.5rem;

                    .inp{
                        background: none;
                        border: 2px solid #ffffff ;
                        padding: 10px;
                    }
                    .inp::placeholder{
                        font-family: $Thin;
                        color: #ffffff;
                    }
                    .grid-child{
                        grid-column-start: 1;
                        grid-column-end:3;

                        .label-checkbox{
                            font-family: $Thin;
                            font-size: 18px;
                            color: #ffffff;
                        }
                    }
                    .download{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        grid-column-start: 1;
                        grid-column-end: 3;

                        .btn-download{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-family: $Medium;
                            font-size: 20px;
                            height: 45px;
                            padding-left: 1rem;
                            border: none;
                            border-radius: 30px;
                            outline: none;
                            

                            .arrow{
                                background-color: #c4c4c4;
                                border-radius: 50%;
                                padding: 8px;
                                margin-left: 4px;
                            }
                        }
                    }
                }   
            }
        }
        

        .d-none{
            display: none;
        }

        .popup-form{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $blue;
            border-radius: 50px;
            height: 50px;
            padding: 0 8px 0 16px;

            .p-to-popup{
                font-family: $Thin;
                font-size: 16px;
                color: #ffffff;

            }

            .arrow2{
                background-color: #ffffff;
                border-radius: 50%;
                padding: 8px;
                margin-left: 4px;
            }
        }
    }

    .emergente{
        position: fixed;
        top: 0;
        margin: 0 auto;
        background-image:none;
        background-color: #000000c7;
        z-index: 9999;
        max-width: 1994px;
        height: 100vh;

        .box-2{
            width: 80%;

            .s-box{
                width: 90%;
            }
        }

        .d-none{
            display: block;
        }
    }

    .emergente-no{
        display: none;
    }

// ---------------SECCIÓN 1-------------------

    .seccion-1{
        margin: 0;
        .flex-1{
            display: flex;
            flex-direction: column;
            margin: 20px;
            
        }

        .flex-2{
            .grid-lista{    
                display: grid;
                grid-template-columns:38px auto ;
                gap: 1rem 0;
                margin: 20px;


                .lista-p{
                   font-family: $Thin;
                   font-size: 18px;
                   margin: 0;
                }
               
            }

            .sectores-relevantes{
                display: flex;
                flex-direction: column;
                background-color: #424242;

                .black-div{
                    
                    margin: 20px;
                    
                    .sec-rel-title{
                        font-family: $Bold;
                        font-size:30px;
                        color: $blue;
                    }
                    .black-div-p{
                        font-family: $Thin;
                        font-size: 20px;
                        color: #ffffff;
                        margin-bottom: 2px;
                    }

                    .degre-box{
                        width: 240px;
                        height: 8px;
                        background:linear-gradient(90deg, #C4C4C4 0%, #009FE4 0.01%, #93bbcc40 75%, #c4c4c400 100%); ;
                    }

                    .to-form{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #ffffff;
                        border-radius: 50px;
                        width: fit-content;
                        height: 50px;
                        margin: 20px 0;
                        padding: 0 8px 0 16px;
                        text-decoration: none;
                        .to-form-p{
                            font-family: $Thin;
                            font-size: 16px;
                            color: $blackFont;
            
                        }
            
                        .arrow-3{
                            background-color: #c4c4c4;
                            border-radius: 50%;
                            padding: 8px;
                            margin-left: 4px;
                        }
                    }
                }
            }
        }
    }

// ---------------SECCIÓN 2-------------------

 
    .seccion-2{
        background-image: url('../assets/img/img-empresa-seccion.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: auto;
        margin-top: 0;
        padding: 20px 0;
        .flex-empresa{
            margin: 20px ;
            height: auto;
            background-color: $whiteBGOpacity;
            padding: 5px 0;
            .esp-en-sin{
                margin: 20px;
                .p-text{
                    padding-left: 20px;
                }
                .como-trabajamos-desktop{
                    display: none;
                }
            }

            

            .empresa-img{
                display: flex;
                justify-content: center;
                align-items: baseline;

                .img-emp{
                    .img-emp-p{
                        font-family: $Thin;
                        font-size: 18px;
                        text-align: center;
                        margin-top:0;

                    }
                }

                .como-trabajamos-tablet{
                    display: none;
                }
            }

           .como-trabajamos-movil{
               text-align: center;
           }
        }

        .cards{
            
            .card-1, .card-2, .card-3{
                
                width: 85%;
                display: flex;
                flex-direction: column;
                // justify-content: center;
                align-items: center; 
                padding-bottom: 10px;
                
            }

            .card-1{
                background-color: #e4e4e4;
                margin: 50px auto 0 auto;
            }
            .card-2{
                background-color: #a5a3a4 ;
                margin: 0 auto 0 auto;
                // .sub-p {
                //     text-align: center;
                // }
               
            }
            .card-3{
                background-color: #424242;
                margin: 0 auto 0 auto;
            }
            .number{
                margin: -30px 0 0 0;
                font-family: $Bold;
                font-size: 60px;
                align-self: flex-start;
                // line-height: -30px;
                color: $blue;
                padding: 0;
            }

            .card-title{
                margin: 0;
            }

            .middle-down-arrow-movil{
                display: flex;
                margin: -5px 0;
                justify-content: center;
                
            }

            .middle-down-arrow-desktop{
                display: none;
            }
        
        }
    }

    .to-form-under-section-2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:50px auto;
        background-color: #c4c4c4;
        border-radius: 50px;
        width: max-content;
        height: 50px;
        padding: 0 8px 0 16px;

        .p-under{
            font-family: $Thin;
            font-size: 16px;
            color: $blackFont;

        }

        .arrow-5{
            background-color: #ffffff;
            border-radius: 50%;
            padding: 8px;
            margin-left: 4px;
        }
    }

// -------------- CARRUSEL -------------------
    .carrousel{

        .container {
            max-width: 1000px;
            // width: 95%;
            margin: 0 auto;
            // padding: 50px;

           
            .slider{
                
                margin: auto;
                padding: 10px;
                border:2px solid $blue;
            }
        
            .button {
                position: relative;
                display: inline-block;
                cursor: pointer;
                outline: none;
                border: 0;
                vertical-align: middle;
                text-decoration: none;
                background: transparent;
                padding: 20px 5px;
                font-size: 2rem;
            
            }
            
            .button span {
                position: relative;
                display: inline-block;
                transform: translateX(0);
                transition: transform 0.3s ease;
            }
            
            .previous:hover span {
                transform: translateX(-10px) scale(1.2);
            }
            
            .next:hover span {
                transform: translateX(10px) scale(1.2);
            }
            
            .slider-nav ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
            }
            
            .slider-nav li {
                display: flex;
                flex: 2;
                text-align: center;
            }
            
            .slider-img {
                max-width: 100%;
                display: none;
                box-shadow: 10px 10px 20px 0 rgba(94,47,59,0.2);
            }
            
            .slider-img.active {
                display: block;
                animation: fadeImg 0.8s;
            }
            
            .slider-nav .arrow {
                flex: 0 0 15%;

                .next{
                    
                    img{
                        width: 100%;
                        position: relative;
                        top: 0;
                    }
                }

                .previous{
                    img{
                        width: 100%;
                    }
                }
            }
            
            .slider-nav a {
                flex-basis: 100%;
                display: flex;
                align-items: center;
            }
            
            .slider-nav span {
                display: block;
                width: 100%;
            }
            
            @keyframes fadeImg {
                from {
                opacity: 0;
                }
            
                to {
                opacity: 1;
                }
            }

            .btn-pan{
                display: none;
            }
        }
    }

// ---------------SECCIÓN 3-------------------

    .seccion-3{
        display: flex;
        flex-wrap: wrap;
        .recursos{
            width: 90%;
            margin: auto;
            
            .box-inclinada{
                margin: auto;
                background-color:#a5a3a4;
                transform: skewX(-5deg);
                width: 95%;
                height: 250px;
                padding-top:10px;
                .list-box-1{
                    display: grid;
                    grid-template-columns: 50% 45%;
                    grid-template-rows: repeat(4,50px) ;
                    list-style-image: url('../assets/img/checkforlist.png');
                    transform: skewX(5deg);
                    
                    
                    
                    .box-li{
                        grid-column: 1/3;
                        font-family: $Thin;
                        font-size: 18px;
                        color: #ffffff;
                    }

                    .li-3{
                        grid-column: 1/1;
                    }

                    .eco-friendly{
                        justify-self: flex-end;
                        margin-right: 20px;
                    }
                }
            }
        }

        .capacidades{

            width: 90%;
            margin: auto;
           
            .box-inclinada{
                margin: auto;
                background-color:#a5a3a4;
                transform: skewX(-5deg);
                width: 95%;
                height: 250px;
                padding-top:10px;
                .list-box-1{
                    display: grid;
                    grid-template-columns: 50% 45%;
                    grid-template-rows: repeat(3,50px) 80px ;
                    list-style-image: url('../assets/img/checkforlist.png');
                    transform: skewX(5deg);
                    
                    
                    
                    
                    .box-li{
                        grid-column: 1/3;
                        font-family: $Thin;
                        font-size: 18px;
                        color: #ffffff;
                    }

                    .eco-friendly{
                        justify-self: flex-end;
                        margin-right: 20px;
                    }
                }
            }
        }
    }


// ---------------SECCIÓN 4-------------------

    .seccion-4{
        background-image: url('../assets/img/shutterstock.jpg');
        background-size: 1920px 100% ;
        background-repeat: no-repeat;
        background-position: center; 
        height: 620px;
        .clientes{
            width: 90%;
            margin: 20px;
            display: flex;
            flex-direction: column;

            .clientes-title{
                margin-bottom: 0;
            }
            .aval{
                margin: 0;
            }
        }
    }


// ---------------CARRUSEL-2-------------------
    .carrousel-2{
        // body {
        //     align-items: center;
        //     background: #E3E3E3;
        //     display: flex;
        //     height: 100vh;
        //     justify-content: center;
        // }
        
        @mixin white-gradient {
            // background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
        }
        
        $animationSpeed: 40s;
        
        // Animation
        @keyframes scroll {
            0% { transform: translateX(0); }
            100% { transform: translateX(calc(-250px * 7))}
        }
        
        
        // Styling
        .slider {
            background: white;
            box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
            height: 100px;
            margin: 30px auto;
            overflow:hidden;
            position: relative;
            width: 100%;
            
            &::before,
            &::after {
                @include white-gradient;
                content: "";
                height: 100px;
                position: absolute;
                width: 200px;
                z-index: 2;
            }
            
            &::after {
                right: 0;
                top: 0;
                transform: rotateZ(180deg);
            }
        
            &::before {
                left: 0;
                top: 0;
            }
            
            .slide-track {
                animation: scroll $animationSpeed linear infinite;
                display: flex;
                width: calc(250px * 14);
            }
            
            .slide {
                height: 100px;
                width: 250px;
                padding: 0 10px;
                img{
                    width: max-content;
                }
            }
        }
    }
// ---------------SECCIÓN 5-------------------


    .seccion-5{
        background-image: url('../assets/img/AtenecionAlCliente.png');
        
       .bg-opaco{
           background-color: #000000c7;
           padding-top: 40px;
           padding-bottom: 40px;

           .contacto{
               margin-left: 20px;
           }

           .formulario-de-contacto{

               background-color: $blue;
               margin:auto; 
               width: 85%;
               transform: skew(-5deg);
               padding: 10px 0 10px 0;
                .contact-title{
                    font-family: $Bold;
                    font-size: 30px;
                    color: #ffffff;
                    text-align: center;
                    transform: skewX(5deg);
                }

                .contact-form{
                    
                    display: grid;
                    grid-template-columns: 45% 45%;
                    grid-template-rows: repeat(3, 40px) 80px 40px repeat(2, 60px) ;
                    gap: 8px 4px;
                    justify-content: center;
                    padding: 0 20px;
                    transform: skew(5deg);

                    .i1, .i2{
                        background: none;
                        border: 2px solid #ffffff ;
                        padding: 10px;
                        font-family: $Thin;
                        letter-spacing: 1px;
                        color:#fff;
                        outline: none;
                        
                    }

                    
                    
                    .i1::placeholder, .i2::placeholder{
                        font-family: $Thin;
                        color: #ffffff;
                    }
                    .i2{
                        grid-column: 1/3;
                    }

                    .label-1, .label-2, .enviar{
                        border: none;
                    }
                   
                    .label-1, .label-2{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }

                     .label-1{
                        background-color: #ffffff;
                        p{
                            font-family: $Semibold;
                            font-size: 18px;
                            color: $blue;

                        }
                    }

                  
                    
                    .label-2{
                        p{  
                            margin-left: 10px;
                            font-family: $Thin;
                            font-size: 16px;
                            color: #ffffff;
                            text-align: left;
                            
                        }
                    }



                    .enviar{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        grid-column-start: 1;
                        grid-column-end: 3;

                        .btn-enviar{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-family: $Medium;
                            font-size: 20px;
                            height: 45px;
                            padding-left: 1rem;
                            border: none;
                            border-radius: 30px;
                            outline: none;
                            

                            .arrow{
                                background-color: #c4c4c4;
                                border-radius: 50%;
                                padding: 8px;
                                margin-left: 4px;
                            }
                        }
                    }
                }

            }
        }
    }

    footer{
        background-color: $blue;
        margin: 0;
        padding: 20px 0;
        p{
            margin: 0;
            font-family: $Thin;
            font-size: 18px;
            text-align: center;
            color: #ffffff;

        }
    }
}

@import 'tablet.scss';
@import 'desktop.scss';

@media screen and (min-width: 1994px){
    body, main, header, nav{
        max-width: 1994px;
        margin: auto;
        
    }
    .nav-bar{
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 0;
        .nav-items{
        max-width: 900px;
        
        left: 1000px;
    }
}
    }
    